body {
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
    font-family: "Montserrat", sans-serif;
    background-image: url('bg_for_ar.jpeg');
    background-size: cover;
}

a {
    text-decoration: none;
    color: #fff;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: #26222D;
    color: #fff;
    height: 83px;
}
.header_section {
    display: flex;
    align-items: center;
    margin: 0 50px;
}
.header_item {
    font-size: 24px;
}
.logo_item {
    display:flex;
    align-items: center;
    margin-right: 48px;
}
.header_logo_name {
    margin-left: 10px;
    font-size: 32px;
    font-family: "Arvo", serif;
}
.navigation {
    display: flex;
}
.navigation .headerButton {
    margin-right: 21px;
}
.search_item {
    margin-right: 34px;
    width:387px;
    height: 59px;
    background-color: #D9D9D9;
    color: #000;
    border-radius: 10px;
}

.search_icon {
    margin: 6px 17px 10px;
}
.profile_image {
    display: flex;
}
.profile_item {
    border-radius: 50%;
    margin: 4px 0 5px;
}

/* --------------------------- */

.main {
    padding: 0 50px;
    background-color: #161422;
    color: #fff;
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

.section_name {
    margin: 54px 0 33px 0;
}
.section_content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.section_image {
    width: 207px;
    height: 311px;
    border-radius: 15px;
}
.border1 {
    border: 1px solid #fff;
    margin: 40px 0 22px;
}
.genres {
    display: flex;
    justify-content: space-between;
}
.genre_item {
    width: 153px;
    height: 45px;
    background-color: #3E305F;
    border-radius: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.section_content_left {
    width: 888px;
    row-gap: 33px;
}

.general_zone {
    display: flex;
    flex-direction: row;
}
.left_zone {
    display: flex;
    flex-direction: column;
}
.right_zone {
    display: flex;
    flex-direction: column;
}

.filter {
    margin-top: 117px;
    margin-left: 34px;
    width: 414px;
    height: 1016px;
    border-radius: 20px;
    background-color: #8164C5;
    color: #fff;
    font-weight: 500;
}
.filter_header {
    background-color: #402F65;
    display: flex;
    align-items: center;
    height: 60px;
    border-radius: 20px 20px 0 0;
}
.filter_icon {
    margin-left: 32px;
    margin-right: 21px;
}
.filter_main {
    padding: 0 31px 0;
}
.date_interval {
    margin: 39px 0 67px;
    width: 369px;
    height: 27px;
    display: flex;
    align-items: center;
}
.interval_item {
    background-color: #fff;
    width: 15px;
    height: 27px;
    border-radius: 20px;
}
.interval_left {
    display: flex;
    justify-content: flex-start;
}
.interval_right {
    display: flex;
    justify-content: flex-end;
}
.line_item {
    width: 324px;
    height: 1px;
    background-color: #fff;
}
.middle_item {
    height: 15px;
    display: flex;
    justify-content: center;
}
.filter_item {
    margin-bottom: 30px;
    font-size: 24px;
}
.filter_name {
    margin-bottom: 15px;
}
.filter_entry {
    width: 354px;
    height: 33px;
    border-radius: 10px;
    background-color: #D9D9D9;
}
.agree_item {
    display: flex;
    align-items: center;
}
.agreeCheckbox {
    width: 20px;
    height: 20px;
    background-color: #D9D9D9;
    margin-right: 14px;
}
.searchButton {
    margin-top: 50px;
    width: 354px;
    height: 52px;
    border-radius: 5px;
    background-color: #D9D9D9;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}


.popcorn_item {
    margin-top: 116px;
    margin-left: 106px;
}

/* --------------------------- */

.footer {
    background-color: #161422;
    color: #fff;
    padding: 0 50px;
}
.border2 {
    padding-top: 57px;
    border-bottom: 1px solid #fff;
}
.footer_content {
    display: flex;
    justify-content: space-between;
}
.footer_icons {
    margin: 32px 0 21px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.helpButton {
    display: flex;
    width: 295px;
    height: 48px;
    border-radius: 15px;
    background-color: #3E305F;
    padding-left: 26px;
    align-items: center;
    font-size: 21px;
}
.help_item {
    margin: 20px;
}

.indexing {
    display: flex;
    margin: 28px 0;
    font-size: 16px;
    align-items: center;
}
.indexing_item {
    margin-left: 20px;
}
.footer_links {
    display: flex;
    flex-direction: row;
    margin-top: 33px;
    margin-right: 96px;
    font-size: 20px;
}
.links {
    display: flex;
    flex-direction: column;
}
.links a {
    margin-bottom: 18px;
    margin-left: 34px;
}